backend_minta/

node_modules/

npm-debug.log*
yarn-error.log*
yarn-debug.log*
*.log
.pnp.*

dist/
build/
out/
**/.angular/cache

**.cache

logs/
*.js.map
*.d.ts

tmp/

coverage/
*.lcov
junit.xml
test-results/

.env
.env.*
!.env.example
!.env.template
*.pem
*.key

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace
.atom/
*.swp
*~

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini

*.zip
*.tar.gz
